body {
    background-color: #ffffff;
}

/*navbar*/
.navbar {
    margin: 0;
    justify-content: center;
    text-align: center;
}

.container-fluid {
    margin-left: 310px;
}

.nav-item {
    margin-right: 20px;
}

/*check */
.h5 {
    text-align: center;
    margin: 20px 200px 200px;
}

#guess-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    /* İsterseniz bu değeri değiştirerek yükseklik ayarını yapabilirsiniz */
    margin-bottom: 50px;
}

#guess-check div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.guess-control {
    margin: auto 20px;
    border-radius: 4px;
    border-color: #cec7c7;
}

.btn {
    background: #69aa7b;
    border-radius: 5px;
    font-family: Arial;
    color: #000;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-sizing: 100%;
}

.btn:hover {
    background: rgb(219, 219, 219);
    text-decoration: none;
}

/*game board */
#guess-list {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 2px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/*keyboard*/

#keyboard-container {
    margin-top: 40px;
    height: 200px;
    margin-right: 25%;
    margin-left: 25%
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    border: 0;
    padding: 0;
    height: 50px;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    color: black;
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}